
.chartcnt   {
    all: unset;

    
}

.chart  {
    width: auto;
    max-width: 600px;
    padding: 40px;
}

.chartcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 2000px;
}
