
.chartcnt   {
    all: unset;

    width: 1000px;
    height:  1000px;
}

.chart  {
    width: auto;
    max-width: 300px;
}

.chartcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
