
.chartcnt   {
    all: unset;

    
}

.chart  {
    width: auto;
    max-width: 300px;
}

.chartcontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
}
